<div class="login-status-header">
  @if(isAuthenticated && userFullName){
  <div class="login-status-user-info">Welcome back {{ userFullName }}</div>
  } @if(!isAuthenticated) {
  <div>
    <button routerLink="/login" class="security-btn">Login</button>
  </div>
  } @if(isAuthenticated) {
  <div>
    <button (click)="logout()" class="security-btn">Logout</button>
  </div>
  <div>
    <button routerLink="/members" class="security-btn ml-1">Member</button>
  </div>
  <div>
    <button routerLink="/order-history" class="security-btn ml-1">
      Orders
    </button>
  </div>
  }
</div>
